<h2>CSS COLORS VARIABLES FOR EASIER & FASTER WEB DESIGN</h2>
 <div class='central'> 
    <article>
      <h3 class='article'>APP description...</h3>
      <p>Repository and examples of using easily CSS variables for color scales. The <%= link_to 'CSScolors.css','https://github.com/coopeu/CSScolors/blob/master/app/assets/stylesheets/CSScolors.scss' %> file includes CSS variables for (+500) colors codes. This live demo (in development) is integrating CSS components and CSS colors by means of CSS variables for an easier design of a simple blogging Ruby on Rails demo website.</p>
    </article>
    <article>
      <h3 class='article'>COLORS definitions...</h3>
      <p>In the RYB (or subtractive) color model, the primary colors are red, yellow and blue.</p>
			<p>The three secondary colors (green, orange and purple) are created by mixing two primary colors.</p>
			<p>Another six tertiary colors are created by mixing primary and secondary colors.</p>
    </article>
    <article>
      <h3 class='article'>RGB colors codes problem and proposed solution...</h3>
      <p>Never more, you will have to use complicated RGB codes to find the suitable color and tone, picking or consulting colors codes, and copying and pasting codes to your CSS files.</p>
      <p>The tones of each of the several color scales (grays, yellows, oranges, reds, maroons, purples, violets/fuchsias, greens, olives, teals/turquoises, limes, blues, navies, sky, pinks,...) that included +300 RGB colors, starts at 01 close to white and ends close to black, jumping in small tone steps from light to dark.</p>
      <p>This extends the W3C list of basic and extended colors keywords: aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive, purple, red, silver, teal, white and yellow, for using easily and quickly RGB colors codes by means of CSS variables, saving time and speeding up the web design and front-end development.</p>
      <p><%= link_to 'DOWNLOAD: CSScolors.css','https://github.com/coopeu/CSScolors/blob/master/app/assets/stylesheets/CSScolors.scss', class: 'button' %></p>
    </article>
    <article>
      <h3 class='article'>The RGBcolors file...</h3>
      <%= image_tag('RGBcolors.png') %>
      <%#= link_to image_tag("RGBcolors.png"), root_path %>
    </article>
    <article>
      <h3 class='article'>Installation and instructions...</h3>
      <p>Import and integrate root css file at /app/assets/stylesheets/root.scss in your application. If RoR import in your application.css or save in the /assets/stylesheets folder or by any (npm, yarn,..) package manager. This is all. Look at the file to know the scale names (grays, pinks, browns,...) for only remembering them when you're choosing a CSS element color (color:var(--yellow10;) or you're personalising your palette or web theme. Change +1/-1 the Css variable number for adjusting the color tone, +1 darker (--yellow11) and -1 lighter (--yellow09).</p>
    </article>
    <article>
      <h3 class='article'>Examples...</h3>
      <p>It's simply, e.g. choose for a DIV element the background color and tone for instance (violet08) as background-color:var(--violet08). In case that you want the web result darkering a bit more change for --viole09 or violet10 and otherwise if you want lighting reduce this number to violet07 or violet 06.
      <br/>Sample in a CSS file:
      <br/>div {
      <br/>background-color:var(--teal04);
      <br/>color:var(--teal20);
      <br/>border: 1px solid var(--teal 08);
      <br/>}</p>
    </article>
    <article>
      <h3 class='article'>Links...</h3>
      <ul>
        <li>- <%= link_to 'W3C color Specifications','https://www.w3.org/TR/2011/REC-css3-color-20110607/' %> </li>
        <li>- <%= link_to 'Colors Theory', 'http://www.tigercolor.com/color-lab/color-theory/color-theory-intro.htm' %></li>
        <li>- <%= link_to 'Color scales', 'http://www.colorhexa.com/800080' %> </li>
        <li>- <%= link_to 'Colors Tools', 'http://www.perbang.dk/rgb/E500C0/'%></li>
        <li>- <%= link_to 'Colors scale JS-tools (CodePen)', 'https://codepen.io/njmcode/pen/axoyD?limit=all&page=8&q=color'%></li>
        <li style='color:var(--sky05);'>-----------------------------------</li>
        <li>- <%= link_to 'Live demo (in development):', 'http://cabrer.me:8888/posts'%> </li>
        <li>- <%= link_to 'Github Repository','https://github.com/coopeu/Blogging' %> 
      </ul>  
    </article>
    <article>
      <h3 class='article'>Contributions...</h3>
      <BR/>1.- Fork the repository 
      <BR/>2.- Create your feature branch (git checkout -b my-new-feature)
      <BR/>3.- Commit your changes (git commit -am 'Add some feature')
      <BR/>4.- Push to the branch (git push origin my-new-feature)
      <BR/>5.- Create new Pull Request
      <BR/>
      <BR/>- Post an issue
      <BR/>- Send a message
    </article>  

  </div>
