<div class="asidenav3">
	<p>3rds COLORS</p>
  <ul>
    <li><%= link_to 'purples', colors_purples_path, class:'purples' %></li>
    <li><%= link_to 'pinks', colors_pinks_path, class:'pinks' %></li>
    <li><%= link_to 'crimsons', colors_crimsons_path, class:'crimsons' %></li>
    <li><%= link_to 'browns', colors_browns_path, class:'browns' %></li>
    <li><%= link_to 'beiges', colors_beiges_path, class:'beiges' %></li>
    <li><%= link_to 'golds', colors_golds_path, class:'golds' %></li>
    <li><%= link_to 'olives', colors_olives_path, class:'olives' %></li>
    <li><%= link_to 'teals', colors_teals_path, class:'teals' %></li>
    <li><%= link_to 'aquas', colors_aquas_path, class:'aquas' %></li>  
    <li><%= link_to 'aguamarines', colors_aquamarines_path, class:'aquamarines' %></li>
    <li><%= link_to 'navys', colors_navys_path, class:'navys' %></li>
  </ul>
    <p>OTHER COLORS</p>
  <ul>  
    <li><%= link_to 'seas-skys', colors_seasskys_path, class:'seas-skys' %></li>
  </ul>
</div>

