<aside class="menu is-small has-text-light">
  <p class="menu-label has-text-light">
    General
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Home', root_path, class: 'is-link' %></li>
    <li><%= link_to 'Blog', posts_path, class: 'is-link' %></li>
    <li><%= link_to 'About us', about_path, class: 'is-link' %></li>
		<li><%= link_to 'Products', products_path, class: 'is-link' %></li>
		<li><%= link_to 'Contact us', contact_path, class: 'is-link' %></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
