<!DOCTYPE html>
<html>
  <head>
  	<%= render 'layouts/partials/head' %>
  </head>
  <body>
    <div class="wrapper" id='wrapper'> 		
      <header> 	
      	<%= render 'layouts/partials/topnavbar' %>
      	<%= render 'layouts/partials/flash' %>
      </header>
      <aside1><%= render 'layouts/partials/aside1' %></aside1>
      <asidenav1><%= render 'layouts/partials/asidenav1' %></asidenav1>
      <asidenav2><%= render 'layouts/partials/asidenav2' %></asidenav2>
      <asidenav3><%= render 'layouts/partials/asidenav3' %></asidenav3>
      <main>
        <%= yield %>
      </main>
      <aside2><%= render 'layouts/partials/aside2' %></aside2>
      <aside3><%= render 'layouts/partials/aside3' %></aside3>
    	<footer>
    	  <%= render 'layouts/partials/footer' %>
     	</footer>
   </div>
   <script async type="text/javascript" src="bulma.js"></script>
  </body>
</html>
