<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogging</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  </head>

  <body>
  <div class="main"> 		
  <div class="header"> 	
  	<%= render 'layouts/partials/topnavbar' %>
  	<%= render 'layouts/partials/flash' %>
  </div>
  <div class="menu">
		<%= render 'layouts/partials/menu' %>
  </div>
  <div class="content">
    <%= yield %>
	</div>
	<div class="footer">
	<%= render 'layouts/partials/footer' %>
 	</div>
 </div>
  </body>

</html>
