<!DOCTYPE html>
<html>
  <head>
  	<%= render 'layouts/partials/head' %>
  </head>
  <body>
  <div class="wrapper" id='wrapper'> 		
  <header> 	
  	<%= render 'layouts/partials/topnavbar' %>
  	<%= render 'layouts/partials/flash' %>
  </header>
  <aside1>RGB COLORS</aside1>
  <asidenav>
    <%= render 'layouts/partials/asidenav' %>
  </asidenav>
 
    <%= yield %>

  <aside2>ASIDE 2</aside2>
	<footer>
	  <%= render 'layouts/partials/footer' %>
 	</footer>
 </div>
  </body>
</html>
