<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
  	<%= render 'layouts/partials/head' %>
  </head>
  <body>
  <div class="wrapper" id='wrapper'> 		
  <header> 	
  	<%= render 'layouts/partials/topnavbar' %>
  	<%= render 'layouts/partials/flash' %>
  </header>
  <aside1>RGB COLORS</aside1>
  <asidenav>
    <%= render 'layouts/partials/asidenav' %>
  </asidenav>
 
    <%= yield %>

  <aside2>RGB COLORS AS CSS VARIABLES FOR WEB DESIGN AND DEVELOPMENT</aside2>
  <aside3>ASIDE 3</aside3>
	<footer>
	  <%= render 'layouts/partials/footer' %>
 	</footer>
 </div>
  </body>
</html>
=======
<!DOCTYPE html>
<html>
  <head>
  	<%= render 'layouts/partials/head' %>
  </head>
  <body>
  <div class="wrapper" id='wrapper'> 		
  <header> 	
  	<%= render 'layouts/partials/topnavbar' %>
  	<%= render 'layouts/partials/flash' %>
  </header>
  <aside1>RGB COLORS</aside1>
  <asidenav>
    <%= render 'layouts/partials/asidenav' %>
  </asidenav>
 
    <%= yield %>

  <aside2>RGB COLORS AS CSS VARIABLES FOR WEB DESIGN AND DEVELOPMENT</aside2>
  <aside3>ASIDE 3</aside3>
	<footer>
	  <%= render 'layouts/partials/footer' %>
 	</footer>
 </div>
  </body>
</html>
>>>>>>> 21716fbeb0e971728db808282e9b58688d9eb0b7
